body {
  background-color: RGB(39, 117, 84);
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}
*{
  margin-top: 0;
}

#about {
  position: absolute;
  z-index: 100;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

#about div {
  padding-top: 10%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
#about button {
  width: 20%;
  height: 10%;
  background-color: rgb(171, 89, 57);
  color: white;
  border-radius: 5px;
}

#container {
  text-align: center;
  display: block;
  margin: 0 auto;
}

#rules {
  background-color: rgb(41, 80, 110);
  border: 1px solid black;
  border-radius: 5%;
  width: 20%;
  height: 100%;
  display: inline-block;
  float: left;
  text-align: center;
  color: black;
  padding: 10px;
}

#rules table {
  border-radius: 5px;
}

#rules table, #rules th, #rules td {
  background-color: rgb(171, 122, 57);
}

.card{
  display: inline-block;
  height: 200px;
  width: 140px;
  border: 1px solid black;
  border-radius: 7px;
}

.card img{
  height: 200px;
  width: 140px;
}

.buttons {
  clear: left;
}

.timer {
  color: rgb(171, 89, 57);
  text-shadow: 1px 1px 0.5px black;
}

#start, #p2Start {
  width: 20%;
  height: 10%;
  background-color: rgb(171, 89, 57);
  color: white;
  border-radius: 5px;
}

#p2Start {
  font-size: 28px;
}

#next {
  display: none;
}

#player1Box, #player2Box {
  display: inline-block;
  position: relative;
  z-index: 0;
}

#countGuess{
  display: none;
}

table, th, td {
    border: 1px solid black;
}
table {
  margin: 0 auto;
}

#playerOneTimeOut, #playerTwoTimeOut {
  color: white;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, .65);
  position: absolute;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}
#playerTwoTimeOut table {
  box-shadow: 2px 2px 25px white;
  color: rgb(171, 89, 57);
}
#playerTwoTimeOut th, td {
  background-color: black;
  padding: 0 10px;
}

#winner {
  margin-top: 20px;
}

#playerTwoTimeOut th {
  margin-bottom: 20px;
}

#restart {
  background-color: rgb(171, 89, 57);
  color: white;
  border-radius: 5px;
}
